<p>
  hey
</p>

<p>
  Here's what your store is currently offering: 
</p>

  <% if (locals.food) { %> 
      <ul> 
      <% food.forEach(result=>{ %>
        <li><%= result.item%> <%= result.price%></li>
        <span> <%=result.ingredients%></span>
        
<!--    increase quant of item to order    -->
        <form id="add" onSubmit="add(<%=result%>);">        
        <button value='<%=result.id%>'<type="submit"> + </button>
          
<!--    decrease quant of item to order    -->
        <form id="del" onSubmit="del(<%=result%>);">        
        <button value='<%=result.id%>'<type="submit"> - </button>
          
      </ul>
      <% }); %>
  <% }%> 


<script type=text/javascript>
  function add(id) {
    fetch('https://aat38-assignment3parta.glitch.me/edit/'+id , {
        headers:{"content-type":"application/json"},
        body: JSON.stringify({
          word: word,
          def: def
        }),
        method: 'POST'
    }).then(resp=>{
      console.log(resp);
    }, err=>{
      console.log(err);
    })
  }
  
  function del(id) {
    fetch('https://aat38-assignment3parta.glitch.me/edit/'+id , {
        method: 'DELETE'
    }).then(resp=>{
      console.log("resp");
      console.log(resp);
    }, err=>{
      console.log(err);
    })
  }
</script> 