<head>
  <link href="index.css" rel="stylesheet" type="text/css">
  <%- include ('../partials/bootstrap.js') %>
</head>

<body>
  <%- include ('../partials/header.ejs') %>
  <section class="menu">
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-8 menuTitle">
          <h2>
            Menu
          </h2>
        </div>
    </div> 
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-11">
          <!-------------------  display menu item --------------------------->
          <% if (locals.food) { %> 
            <% if (locals.cart) { %> 
              <% food.forEach(result=>{ %>
                <ul> 
                  <div class="row">
                    <div class="col-10">
                      <li> <span style="padding-left:0.5em"><%= result.item%></span><span style="padding-left:1em" class="price">$<%= result.price%></span></li>
                    </div>
                    <div class="button-group">
                        <% var quantity=0%>
                        <% for (var i=0; i<Object.keys(cart).length;i++){             %>
                        <%  if (Object.values(cart)[i].item === result.item){         %>
                        <%      quantity=quantity+1                                   %>
                        <%  }                                                         %>
                        <% }                                                          %>
                        <!--    increase quantity of item in order    -->
                        <button onclick="add('<%= JSON.stringify(result) %>')" > + </button>
                        <!--    decrease quantity of item in order (IF quantity > 0)   -->
                        <% if (quantity > 0) {%>
                          <button onclick="del('<%= JSON.stringify(result) %>')" > - </button>
                        <% } else { %>
                          <button> - </button>
                        <% } %>                      
                        <!--    show quantity of item that has been added to your cart    -->
                        <span class="quantity"><%= quantity%></span>
                    </div>  
                  </div>
                  <div class="row">
                    <div class="col-1">
                    </div>
                     <div class="col-10">
                      <span class="ingredients"> <%=result.ingredients%></span>
                    </div>                         
                  </div>
                </ul>
              <% });%>
            <% }%> 
          <% }%>   
          <!-----------------------end display ------------------------------>
       </div> 
    </div>  
  </section>

  <section class="checkout">
    <div class="row">
      <div class="col-9">
      </div>
      <div class="col-3">
        <!--    could not find a way to allow a button with a formaction to also trigger a function   -->
        <!--    workaround was to have two buttons, one that handles the formaction, one that handles the refresh function   -->
        <form id='clearForm'>        
          <button type="submit" class="clear" formaction="/delete">Clear </button>
        </form>
        <button class="refresh" type="button" onClick="window.location.reload();" >Refresh</button>
      </div>
    </div> 
     <div class="row">               
       <div class="col-9">
      </div>   
      <!--   if nothing is in the cart, don't allow checkout   -->
      <% if (locals.cart.length>0) { %> 
          <form id='checkout'>        
            <button class="checkout-button" formaction="/checkout" method"GET" type="submit">Checkout</button>
          </form>
      <% } else { %>
            <button class="checkout-button" >Checkout</button>
      <%}%>
    </div> 

    </div>
  </section>  
</body>


<script type=text/javascript>
   function add(result) {
    result = JSON.parse(result);
    fetch('https://aat38-assignment3b.glitch.me/api/cart/', {
        headers:{
          "content-type":"application/json",
        },
        body: JSON.stringify({
          item: result.item,
          price: result.price,
          ingredients: result.ingredients,
          incart: true
        }),
        method: 'POST'
    }).then(resp=>{
       window.location.reload();//so changes render
    }, err=>{
      console.log(err);
    })
  }
   
  function del(result) {
    result = JSON.parse(result);
    fetch('https://aat38-assignment3b.glitch.me/api/cart/'+result.item , {
        method: 'DELETE'
    }).then(resp=>{
     window.location.reload();
    }, err=>{
      console.log(err);
    })
  }
  
  //  function clear() {
  // //   fetch('https://aat38-assignment3b.glitch.me/delete', {
  // //       method: 'DELETE'
  // //   }).then(resp=>{
  // //   }, err=>{
  // //         console.log('errrr')
  // //     console.log(err);
  // //   })
  // } can't call this function from clear/refresh button while they are being used to send http request
  //   to work around this, created REFRESH button along with the CLEAR button, that empties a cart 
  
</script> 