<p>
  hey
</p>

<p>
  Here's what your store is currently offering: 
</p>

  <% if (locals.food) { %> 
    <% if (locals.cart) { %> 

      <ul> 
      <% food.forEach(result=>{ %>
        <li><%= result.item%> <%= result.price%></li>
        <span> <%=result.ingredients%></span>
        
<!--    increase quant of item to order    -->
        <button onclick="add('<%= JSON.stringify(result) %>')" > + </button>
          
<!--    decrease quant of item to order    -->
        <button onclick="del('<%= JSON.stringify(result) %>')" > - </button>

        <% if (locals.cart) { %> 
       
        <% }%> 
      </ul>
      <% });%>
  <% }%> 
  <% }%> 
<p>
  Cart
</p>
    <% if (locals.cart) { %> 
       <% cart.forEach(result=>{ %>
          <%= result.item%>
       <% })%> 
    <%
var count = 0;
for (var i in Object.keys(cart)) {
  if (cart[Object.keys(cart)[i]].hasOwnProperty('Chicken Sandwich')) {
    count++;
  }
}
  console.log(cart[0].hasOwnProperty('Chicken Sandwich'))

%>

    <% }%> 

 
<script type=text/javascript>
  function add(result) {
    console.log(result+" added to cart")
    result = JSON.parse(result);
    fetch('https://aat38-assignment3b.glitch.me/api/cart/', {
        headers:{
          "content-type":"application/json",
        },
        body: JSON.stringify({
          item: result.item,
          price: result.price,
          ingredients: result.ingredients
        }),
        method: 'POST'
    }).then(resp=>{
       window.location.reload();//so changes populate
    }, err=>{
      console.log(err);
    })
  }
  
  function del(result) {
    console.log(result+" deleted from cart")
    result = JSON.parse(result);
    fetch('https://aat38-assignment3b.glitch.me/api/cart/'+result.item , {
        method: 'DELETE'
    }).then(resp=>{
     window.location.reload();
    }, err=>{
      console.log(err);
    })
  }
</script> 