<head>
  <link href="index.css" rel="stylesheet" type="text/css">
  <%- include ('../partials/bootstrap.js') %>
</head>

<body>
  <%- include ('../partials/header.ejs') %>
  <section class="menu">
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-8 menuTitle">
          <h2>
            Menu
          </h2>
        </div>
    </div> 
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-11">
          <!-- ###  menu item ############################################ -->
          <% if (locals.food) { %> 
            <% if (locals.cart) { %> 
              <% food.forEach(result=>{ %>
                <ul> 
                  <div class="row">
                    <div class="col-10">
                      <li><%= result.item%>  <span class="price">$<%= result.price%></span></li>
                    </div>
                    <div class="button-group">
                        <!--    increase quant of item to order    -->
                        <button onclick="add('<%= JSON.stringify(result) %>')" > + </button>
                        <!--    decrease quant of item to order    -->
                        <button onclick="del('<%= JSON.stringify(result) %>')" > - </button>
                         <!--    show quantity of item that has been added to your cart    -->
                        <% var quantity=0%>
                        <% for (var i=0; i<Object.keys(cart).length;i++){             %>
                        <%  if (Object.values(cart)[i].item === result.item){         %>
                        <%      quantity=quantity+1                                   %>
                        <%  }                                                         %>
                        <% }                                                          %>
                        <span class="quantity"><%= quantity%></span>
                    </div>  
                  </div>
                  <div class="row">
                    <div class="col-1">
                    </div>
                     <div class="col-10">
                      <span class="ingredients"> <%=result.ingredients%></span>
                    </div>                         
                  </div>
                </ul>
              <% });%>
            <% }%> 
          <% }%>   
          <!-- ###  end menu item ############################################ -->
       </div> 
    </div>  
  </section>

  <section class="checkout">
    <div class="row d-flex flex-row">
      <div class="col-9">
      </div>
      <div class="col-3">
        <form id='clearForm'>        
          <button type="submit" class="clear" formaction="/delete">Clear </button>
        </form>
        <button class="refresh" type="button" onClick="window.location.reload();" >Refresh</button>
      </div>
    </div> 
    <div class="d-flex justify-content-center">
        <form id='checkout'>        
          <button class="checkout-button" formaction="/checkout" method"GET" type="submit">Checkout</button>
        </form>
    </div>
  </section>  
</body>

<!--------------------------------------------------------------------->

<script type=text/javascript>
 
  function add(result) {
    result = JSON.parse(result);
    fetch('https://aat38-assignment3b.glitch.me/api/cart/', {
        headers:{
          "content-type":"application/json",
        },
        body: JSON.stringify({
          item: result.item,
          price: result.price,
          ingredients: result.ingredients,
          incart: true
        }),
        method: 'POST'
    }).then(resp=>{
       window.location.reload();//so changes render
    }, err=>{
      console.log(err);
    })
  }
   
  function del(result) {
    result = JSON.parse(result);
    fetch('https://aat38-assignment3b.glitch.me/api/cart/'+result.item , {
        method: 'DELETE'
    }).then(resp=>{
     window.location.reload();
    }, err=>{
      console.log(err);
    })
  }
  
  //  function clear() {
  // //   fetch('https://aat38-assignment3b.glitch.me/delete', {
  // //       method: 'DELETE'
  // //   }).then(resp=>{
  // //   }, err=>{
  // //         console.log('errrr')
  // //     console.log(err);
  // //   })
  // } can't call this function from clear/refresh button while they are being used to send http request
  
</script> 