<p>
  hey
</p>

<p>
  Here's what your store is currently offering: 
</p>

  <% if (locals.food) { %> 

      <ul> 
      <% food.forEach(result=>{ %>
        <li><%= result.item%> <%= result.price%></li>
        <span> <%=result.ingredients%></span>
        
<!--    increase quant of item to order    -->
        <button onclick="add('<%= JSON.stringify(result) %>')" > + </button>
          
<!--    decrease quant of item to order    -->
        <button onclick="del('<%= JSON.stringify(result) %>')" > - </button>
          
      </ul>
      <% });%>
  <% }%> 


<script type=text/javascript>
  function add(result) {
    console.log(result)
    fetch('https://aat38-assignment3partb.glitch.me/api/cart/' , {
        headers:{"content-type":"application/json"},
        body: JSON.stringify({
          item: result.item,
          price: result.price,
          ingredients: result.ingredients
        }),
        method: 'POST'
    }).then(resp=>{
      console.log(resp);
    }, err=>{
      console.log(err);
    })
  }
  
  function del(result) {
        console.log(result.item + "tb deleted")
    fetch('https://aat38-assignment3partb.glitch.me/api/cart/'+result.item , {
        method: 'DELETE'
    }).then(resp=>{
      console.log("resp");
      console.log(resp);
    }, err=>{
      console.log(err);
    })
  }
</script> 